body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}

div.container {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  -moz-column-gap: 3px;
       column-gap: 3px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

div.dc-header {
  width: 100%;
  height: 110px;
  font-weight: 700;
}
div.dc-header img {
  width: 65px;
  height: 65px;
}
div.dc-header ul {
  display: flex;
  justify-content: space-between;
  width: 70%;
  height: 100%;
  margin: 0;
}
div.dc-header ul li {
  display: flex;
  align-items: center;
}
div.dc-header ul li a {
  color: #2c2c2c;
  font-size: 0.8rem;
  text-transform: uppercase;
}
div.dc-header .active {
  border-bottom: 4px solid #0282F9;
}
div.dc-header .active-link {
  color: #0282F9;
}

section.dc-main-top {
  width: 100%;
  background-color: #1C1C1C;
}
section.dc-main-top h1 {
  color: white;
}
section.dc-main-top a {
  flex-basis: 14.1666666667%;
}
section.dc-main-top a div.card {
  width: 100%;
  height: 250px;
}
section.dc-main-top a div.card img {
  width: 100%;
  height: 170px;
}
section.dc-main-top a div.card h5 {
  margin: 0;
  padding: 0.5rem;
  text-transform: uppercase;
  color: white;
  font-weight: 500;
}

div.jumbotron {
  background-image: url(/images/jumbotron.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  width: 100%;
  height: 340px;
}

section.dc-main-bottom {
  width: 100%;
  height: 120px;
  background-color: #0282F9;
}
section.dc-main-bottom ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
section.dc-main-bottom ul a {
  display: flex;
}
section.dc-main-bottom ul a img {
  width: 40px;
  height: 50px;
  padding: 0 1rem;
}
section.dc-main-bottom ul a h5 {
  font-weight: 500;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: white;
}

div.dc-footer {
  width: 100%;
}
div.dc-footer section.footer-top {
  width: 100%;
  min-width: 900px;
  height: 280px;
  background-image: url(/images/footer-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
div.dc-footer section.footer-top h4 {
  text-transform: uppercase;
  color: white;
  margin: 0;
  padding: 0.7rem 0;
}
div.dc-footer section.footer-top div.footer-list {
  margin-top: 1.2rem;
  display: flex;
}
div.dc-footer section.footer-top div.footer-list-middle {
  margin: 0 1.5rem;
}
div.dc-footer section.footer-top div.logo-bg {
  width: 450px;
  height: 100%;
  background-image: url(/images/dc-logo-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
div.dc-footer section.footer-top a {
  color: gray;
  font-size: 0.7rem;
}
div.dc-footer section.footer-bottom {
  width: 100%;
  height: 100px;
  background-color: #303030;
  text-transform: uppercase;
}
div.dc-footer section.footer-bottom a {
  color: white;
  border: 2px solid #0282F9;
  padding: 0.6rem;
}
div.dc-footer section.footer-bottom div.social-media {
  display: flex;
  align-items: center;
}
div.dc-footer section.footer-bottom div.social-media h3 {
  color: #0282F9;
  padding-right: 0.5rem;
}
div.dc-footer section.footer-bottom div.social-media img {
  width: 30px;
  height: 30px;
  margin-left: 1rem;
}

ul {
  padding-left: 0;
  padding-bottom: 0.3rem;
  margin: 0;
}
ul li {
  line-height: 0.9rem;
}

div.blue-container {
  width: 100%;
  height: 70px;
  background-color: #0282F9;
  margin-bottom: 1.5rem;
}

section.main-single-product-top {
  display: flex;
  position: relative;
  padding: 0 45px;
}
section.main-single-product-top img.product-poster {
  position: absolute;
  top: -335px;
}
section.main-single-product-top div.left-content {
  width: 70%;
}
section.main-single-product-top div.left-content h2 {
  color: #003F5E;
  text-transform: uppercase;
}
section.main-single-product-top div.left-content div.availability {
  display: flex;
  width: 100%;
  background-color: #55BA59;
  border-bottom: 1px solid rgb(104, 130, 59);
  font-weight: bold;
}
section.main-single-product-top div.left-content div.availability div.av-left {
  width: 70%;
  border-right: 1px solid rgb(104, 130, 59);
  padding: 0.9rem;
  color: white;
  display: flex;
  justify-content: space-between;
}
section.main-single-product-top div.left-content div.availability div.av-right {
  width: 30%;
  padding: 0.9rem;
  color: white;
  text-align: center;
}
section.main-single-product-top div.left-content div.availability div.av-right i {
  font-size: 0.8rem;
}
section.main-single-product-top div.left-content p {
  color: #4A5059;
}
section.main-single-product-top div.right-content {
  width: 30%;
  padding: 0 2rem;
  color: #4A5059;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: right;
}
section.main-single-product-top div.right-content img {
  width: 100%;
}
section.main-single-product-top div.right-content p {
  margin: 0.2rem;
}

section.bg-product-bottom {
  background-color: #F6F6F6;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding-bottom: 100px;
}
section.bg-product-bottom div.main-single-product-bottom div.about-single-product {
  display: flex;
  width: 100%;
  font-size: 0.9rem;
}
section.bg-product-bottom div.main-single-product-bottom div.about-single-product h3 {
  color: #003F5E;
  border-bottom: 1px solid lightgray;
  margin: 0;
  padding: 1rem 0;
}
section.bg-product-bottom div.main-single-product-bottom div.about-single-product div.talent {
  width: 50%;
  padding-right: 3rem;
}
section.bg-product-bottom div.main-single-product-bottom div.about-single-product div.talent div.artists {
  display: flex;
}
section.bg-product-bottom div.main-single-product-bottom div.about-single-product div.talent div.writers {
  display: flex;
}
section.bg-product-bottom div.main-single-product-bottom div.about-single-product div.talent div {
  border-bottom: 1px solid lightgray;
}
section.bg-product-bottom div.main-single-product-bottom div.about-single-product div.specs {
  width: 50%;
}
section.bg-product-bottom div.main-single-product-bottom div.about-single-product div.specs div.series {
  display: flex;
}
section.bg-product-bottom div.main-single-product-bottom div.about-single-product div.specs div.series p.series-text {
  text-transform: uppercase;
  color: #0282F9;
}
section.bg-product-bottom div.main-single-product-bottom div.about-single-product div.specs div.specs-price {
  display: flex;
}
section.bg-product-bottom div.main-single-product-bottom div.about-single-product div.specs div.sale-date {
  display: flex;
}
section.bg-product-bottom div.main-single-product-bottom div.about-single-product div.specs div {
  border-bottom: 1px solid lightgray;
}
section.bg-product-bottom div.main-single-product-bottom div.about-single-product p.single-product-title {
  width: 40%;
  color: #003F5E;
}
section.bg-product-bottom div.main-single-product-bottom div.about-single-product p.single-product-text {
  width: 70%;
  color: #0282F9;
}
section.bg-product-bottom div.main-single-product-bottom p {
  margin: 0;
  padding: 0.5rem 0;
}

section.main-single-product-links {
  background-color: #F6F6F6;
  width: 100%;
}
section.main-single-product-links ul.single-product-list {
  width: 100%;
  padding-bottom: 0;
  justify-content: center;
  border-left: 1px solid lightgray;
  width: 800px;
  margin: 0 auto;
}
section.main-single-product-links ul.single-product-list li {
  display: inline-block;
}
section.main-single-product-links ul.single-product-list a.list-link {
  display: flex;
  color: gray;
  text-transform: uppercase;
  width: 195px;
  height: 60px;
  justify-content: space-between;
  gap: 10px;
  border-right: 1px solid lightgray;
}
section.main-single-product-links ul.single-product-list a.list-link h5 {
  margin: 0;
  font-size: 0.7rem;
  padding: 0.8rem;
}
section.main-single-product-links ul.single-product-list a.list-link img {
  width: 25px;
  height: 35px;
  filter: invert(20%);
  padding: 0.8rem;
}

.single-product-container {
  width: 900px;
  margin: 0 auto;
}

.text-light-green {
  color: #B4F27C;
}

.text-uppercase {
  text-transform: uppercase;
}

#container-comics {
  padding: 3rem 0;
}